

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  z-index: 1;
}

.alert-wrapper {
    position: fixed; /* independent of body flex */
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* centers horizontally */
    z-index: 9999;
}


.dropdown-menu {
    position: absolute !important;
    max-width: 200px; /* Prevent overflow */
    overflow-wrap: break-word;
    z-index: 1050; /* Above other elements */
}
