{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% block main %}

<div class="container">
        <!-- Left Card -->
        <div class="left-card">
            <p class="login-text">Login</p>
            <h1 class="title">Financial Services</h1>
            <div style="width: auto ;height: 30%;">

            </div>
            <p class="status">Optimizing results...</p>
            <div class="progress">
            <div class="progress-bar progress-bar-striped active progress-bar-animated" role="progressbar"
            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
            </div>
</div>
        </div>

        <!-- Right Card -->
        <div class="right-card">
            <div class="profile-circle"><img src="https://www.w3schools.com/w3images/avatar5.png" alt="Avatar" class="avatar"></div>
            <div class="user-fullname">
                 <p><span>Iason</span><br><span>Papanikoalou</span></p>
            </div>
            <div style="padding-top: 50px;"></div>
            <p class="attention">Attention:<br>Always use the latest<br>version of the app</p>
        </div>
    </div>

{% endblock %}