{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% block main %}

<div class="container">
        <!-- Left Card -->
        <div class="left-card">
            <p class="login-text">Login</p>
            <h1 class="title">Financial Services</h1>
            <p class="status">Optimizing results...</p>
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
        </div>

        <!-- Right Card -->
        <div class="right-card">
            <div class="profile-circle"></div>
            <div class="user-fullname">
                 <p><span>Iason</span><br><span>Papanikoalou</span></p>
            </div>
            <p class="attention">Attention:<br>Always use the latest<br>version of the app</p>
            <p class="version">v1.0.0.15</p>
        </div>
    </div>

{% endblock %}